<!DOCTYPE html>
<html>
    <head>
        <title>Forum - Dashboard</title>
    </head>
    <body>
        <h1>Welcome {{ username }}</h1>
        <form action="/api/post" method="post">
            <table>
                <tr>
                    <th>
                        <label for="title">Title: </label>
                    </th>
                    <th>
                        <input type="text" maxlength="20" name="title" />
                    </th>
                </tr>
                <tr>
                    <th><label for="content">Content: </label></th>
                    <th><textarea maxlength="2000" name="content" placeholder="Write your post here!"></textarea></th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input type="submit" value="Submit post" />
                    </th>
                </tr>
            </table>
		</form>
    </body>
</html>